@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: black url(../imagens/tela-home.jpg) center no-repeat fixed;
    background-size: contain;
}